<app-header></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Antigua Clave:</ion-label>
      <ion-input type="password" placeholder="Antigua Clave" [(ngModel)]="oldpassword"></ion-input>
      <ion-label>Nueva Clave:</ion-label>
      <ion-input type="password" placeholder="Nueva Clave" [(ngModel)]="newpassword"></ion-input>
    </ion-card-content>
  </ion-card>
  <div class="btnSesion">
    <ion-button shape="round" (click)="changePass()">Cambiar Clave</ion-button>
    <ion-button shape="round" (click)="retornar()">Retornar</ion-button>

  </div>
</ion-content>